<title>Editar CGP</title>
<h2 ALIGN=center><img src="imagenes/cgp_icon.ico" height="50px;" width="50px;"> Editar CGP</h2>
<div class="card">
    <div class="card-block">
        <div class="container">
            <h4 class="card-header">Edición</h4>
        </div>
        <div class="container">
            <div class="col-sm-12"><br/>Nombre</div>
            <div class="col-sm-8">
                <input class="form-control" ng-model="formCtrl.poi.nombre">
            </div>
            <div class="col-sm-12"><br/>Dirección</div>
            <div class="col-sm-8">
                <input class="form-control" ng-model="formCtrl.poi.direccion">
            </div>
            <div class="col-sm-12"><br/>Zona</div>
            <div class="col-sm-8">
                <input class="form-control" ng-model="formCtrl.poi.barrios">
            </div>
            <div class="col-sm-12"><br/>Lista de Servicios</div>
            <div class="col-xs-8">
                <input class="form-control" ng-model="formCtrl.poi.servicios">
            </div>
            <div class="col-sm-12"><br/>Horarios de Atención</div>
            <div class="col-xs-8">
                <input class="form-control" ng-model="formCtrl.poi.rangoAtencion">
            </div>
        </div>
    </div>
</div>